body {
	background-color: black
}

img {
	height: 125px;
	width: 125px;
}

.jumbotron {
	background-color: purple;
	height: 280px;
	padding-top: 30px;
}

.btn {
	margin-left: 92px;
	margin-top: 10px;

}


.crystalsTitle {
	font-size: 48px;
	color: white;
}

.directionsTitle {
	font-size: 28px;
	line-height: 40px;
}

.directionsText {
	font-size: 20px;
	line-height: 30px;
	color: white;

}


.panelTitle {
	font-size: 24px;
	font-weight: bold;
	color: black;
}

.panel-body {
	height: 125px;
}

#crystalPanel {
	height: 200px;
}

#randomNumber,
#finalTotal,
#numberWins,
#numberLosses {
	font-size: 36px;
	color: purple;
}

#numberWins {
	color: green;
}

#numberLosses {
	color:red;
}